/vendor/
node_modules/
npm-debug.log
yarn-error.log
bootstrap/
app/
database/
dockerfiles/
public/storage
public/hot
public/css/
public/js/
public_html/storage
public_html/hot
resources/lang/
resources/fonts
resources/.idea
routes/
tests/
storage/
.env
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache