// Variables
@import 'variables';

.bg-admin {
  background-color: #14B8A6;
}

.text-primary-admin {
  color: #134E4A;
}

.v-btn {
  border-radius: 0 !important;
}

.crimson {
  background: #990000;
}

.crimson--text {
  color: #990000
}